---
type: home
subtypes: [news]
pagelimit: 8
---

<!-- {% include video.html url="//www..youtube/cshetvaPOxY" margin-bottom="60px" padding-bottom="52%" max-width="100%" %} -->
{% include video.html url="//www.youtube.com/embed/cshetvaPOxY" margin-bottom="60px" padding-bottom="52%" max-width="100%" %}


<h1>Welcome to the Industrial Data Analyties and Digital Manufacturing (IDADM) Laboratory!! </h1>
Our mission is to revolutionize the manufacturing industry by using data analytics, machine learning, and artificial intelligence for significant quality and productivity improvement, cost reduction, and energy conservation. 
Our group is within the  with the Smart Manufacturing Thrust, Systems Hub, The Hong Kong University of Science and Technology (Guangzhou), China.  

<div align="center">
  <img width="500" src="{{ site.baseurl }}/img/research/our_focus.jpg"/>
  </div>
  <p align="center" style="font-style: italic">
    Our focus: Cutting edge research motivated by real-world problems.
  </p>

## Research Topic 
---

At our lab, we perform research at the ① **intelligent monitoring and fault diagnosis of manufacturing systems in complex data environments**, ② **digital twin of manufacturing system** and 
③ **surface defect detection and identification of complex manufacturing products based on 3D point cloud data/image modeling**. They are highlighted below. For more details on our research efforts, 
please [visit our research page]({{ site.baseurl }}{% link research.html %}) and our [list of publications]({{ site.baseurl }}{% link publications.html %}).

<div class="row">
{% include post-sorter.html subtypes="subteams" %}
</div>

## Latest News
---

<div class="row">
{% include post-sorter.html subtype="news" %}
</div>
