---
permalink: research.html
type: research
title: "IDADM Research"
subtypes: [surface-anomaly-detection]
---

At the IDADM Lab, we perform research at Research is mainly oriented towards core and key scientific issues encountered 
in industrial development in the industrial revolution promoted by information technology, such as industrial data analysis 
issues caused by the application of sensing and communication technologies in manufacturing systems. Based on the in-depth 
integration of machine learning, optimization and control theory and manufacturing system engineering knowledge, a systematic 
intelligent data analysis method is proposed and applied to the construction of complex manufacturing systems such as multi-stage 
manufacturing process quality monitoring and system deviation flow control. Model, monitoring, control, pre-diagnosis and 
fault diagnosis and other important fields.

## Surface Anomaly Detection
---

<div class="row">
{% include image.html url="research/anomaly/depression_anomaly.jpg" max-width="30em" %}
{% include image.html url="research/anomaly/points_structure.jpg" max-width="35em" %}
</div>


In this research project, we focus on **surface quality inspection using unstructured 3D point cloud data**
surface quality inspection of fabricated artifacts is one of the central concerns in manufacturing industries. 
Recently, with the development of advanced 3D scanning technologies, 3D point cloud data has received great 
attention. Compared with image data, 3D point cloud data can directly measure the surface geometries of 
fabricated artifacts, providing valuable 3D quality information. 3D point cloud data can be categorized 
into structured and unstructured 3D point clouds, according to their different data structures. Specifically, 
the measured points of structured point clouds are located on a pre-defined grid. However, the gridded 
structure may not be able to preserve all the details of complicated surfaces. On the contrary, 
unstructured 3D point cloud data allows for randomly distributed points that can alleviate the above issue. 
Therefore, it is critical to realize quality inspection of fabricated artifacts by using unstructured point 
clouds.
[[Read More]]({{ site.url }}/subteam/surface-anomaly-detection)


## Manufacturing Process Optimization
---

<!-- Point of Contact: [Joewie J. Koh](https://joewiekoh.com), [Anuj Pasricha]({% post_url people/2019-10-13-anuj %}), Stéphane Aroca-Ouellette, [Gilberto Briscoe-Martinez]({% post_url people/2023-11-15-gilberto %}), Ava Abderezaei, Srikrishna Bangalore Raghu -->

<div class="row">
{% include image.html url="research/optimization/research_focus.jpg" max-width="60em" %}
<!-- {% include image.html url="research/failure-resilience/new_figure_1.png" max-width="26em" %} -->
</div>

This research is motivated by the fact that many advanced manufacturing systems such as fuselage 
assembly and ship assembly where the data collection is limited and expensive. For such manufacturing 
systems, high-fidelity simulations such as Finite Element Analysis (FEA) will be first investigated 
to simulate/mimic the real manufacturing systems for process optimization and control. However, the 
high-fidelity simulation platform usually needs to be first calibrated given many setting parameters, 
and such simulations always need a large amount of time to simulate. 
[[Read More]]({{ site.url }}/subteam/manufacturing-process-optimization)
